---
import { client } from '../../lib/sanity';
import { PortableText } from 'astro-portabletext';
import Layout from '../../layouts/Layout.astro';
import { urlFor } from '../../lib/image';

export async function getStaticPaths() {
  const posts = await client.fetch(`*[_type == "post"] {
    "slug": slug.current
  }`);
  
  return posts.map(post => ({
    params: { slug: post.slug }
  }));
}

const { slug } = Astro.params;
const post = await client.fetch(`*[_type == "post" && slug.current == "${slug}"][0] {
  ...,
  "slug": slug.current,
  mainImage,
  author->
}`);
---
<Layout title={post.title}>
  {post.mainImage && (
    <div class="relative overflow-hidden mx-auto w-11/12 max-w-4xl rounded-3xl mt-4 mb-8 h-[400px]">
      <img
        src={urlFor(post.mainImage).url()}
        alt={post.title}
        class="w-full h-full object-cover"
      />
      <div class="absolute inset-0 bg-black/40"></div>
      <div class="absolute inset-0 flex items-center justify-center text-center text-white">
        <h1 class="text-5xl font-extrabold px-4">{post.title}</h1>
      </div>
    </div>
  )}

  <main class="container mx-auto px-4 py-12 max-w-4xl">
    <article class="prose dark:prose-invert prose-lg">
      <PortableText value={post.body} />
    </article>
  </main>
</Layout>